---
import Layout from "../layouts/Layout.astro";

let description = 'Химеры -.';
let permalink = 'https://nickgolitsyn.com/';

---

<Layout title="Авторы" {description} {permalink}>
  <main class="content">
    <h1 class="text-4xl font-bold">автор_ки</h1>
  </main>
</Layout>

<style>
  .content {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
</style>