<footer>
  <div class="flex justify-between max-w-[65em] mx-auto px-8 uppercase !font-bold">
    <div class="flex gap-5">
      <a href="/">
        <h1>Вконтакте</h1>
      </a>
      <a href="/">
        <h1>Телеграм</h1>
      </a>
    </div>

    <a href="/">
			<h1>Химеры 2023</h1>
		</a>
  </div>
  <a href="/admin">Admin Dashboard 🔐</a>
</footer>